* {
    margin: 0;
    padding: 0;
}

.navbar {
    background: #2c3531;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #a961a8;
    background-image: #478d8f;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    position: absolute;
    top: 0;
    left: 30px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Prompt';
    font-size: 4rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
    font-family: 'Prompt', sans-serif;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    font-family: 'Prompt', sans-serif;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #478d8f;
    color: #fff;
}

.button:hover {
    background: #a961a8;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #a961a8;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 60vh;
        z-index: -1;
        background: #2c3531;
    }

    .navbar__menu.active {
        background: #2c3531;
        top: 100%;
        opacity: 1;
        transition: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
        font-family: 'Prompt';
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 80px;
        margin: 0;
        margin-top: 1rem;
    }

    .navbar__toggle .bar {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


.main {
    height: 100%;
    width: 100%;
    background-color: #141414;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form__box {
    width: 380px;
    height: 670px;
    position: relative;
    margin: 3% auto;
    background: #aebaba;
    padding: 5px;
    overflow: hidden;
}

.button__box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 10px 9px #a961a8;
    border-radius: 30px;
    background: #cdadcc;
}

.toggle__btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-family: 'Prompt', sans-serif;
    font-size: 0.8rem;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #478d8f, #8ddbdd);
    border-radius: 30px;
    transition: .5s;
}

.access__account {
    color: #000;
    font-size: 20px;
    bottom: 258px;
    position: absolute;
    margin: 5px 85px;
    width: 100%;
    font-family: 'Prompt', sans-serif;
}

.create__account {
    color: #000;
    font-size: 20px;
    bottom: 220px;
    top: -82px;
    position: absolute;
    margin: 48px 92px;
    width: 100%;
    font-family: 'Prompt', sans-serif;
}

.input__group {
    top: 170px;
    position: absolute;
    width: 220px;
    transition: 0.5s;
}

.input__field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 82px;
    position: relative;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    font-family: 'Prompt', sans-serif;
}

.submit__button {
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 5px 80px;
    background: linear-gradient(to right, #478d8f, #8ddbdd);
    border: 0;
    outline: none;
    border-radius: 30px;
    font-family: 'Prompt', sans-serif;
    font-size: 1.2rem;
}

.check__box {
    margin: 30px 10px 30px 80px;
    color: #141414;
}

span{
    color: #141414;
    font-size: 12px;
    bottom: 86px;
    position: absolute;
    width: 100%;
    font-family: 'Prompt', sans-serif;
}

#login{
    left: 5px;
}

#register{
    left: 400px;
}

#passwordMismatch{
    color: red; 
    display: none;
    bottom: 115px;
    position: absolute;
    margin: 0px 85px;
}

#showpassword{
    color: #141414;
    font-size: 12px;
    bottom: 133px;
    left: 103px;
    position: absolute;
    width: 100%;
    font-family: 'Prompt', sans-serif;
}

#showPasswordCheckbox{
    margin: 10px 25px 0px 80px;
    color: #141414;
}